#tab-1 {
    border-style: hidden;
}

#tab-2  {
    border-style: hidden;
}

#prompt_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#prompt_container > #command {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.table-scroll {
    height: 250px;
    padding: 0px;
    overflow-y: auto;
}

#history_prompt {
    /*
    font-family: Verdana;
    font-size: 14px;
    */
    border-collapse: collapse;
    min-width: 300px;
    
}
  
#history_prompt td {
    padding: 5px 20px 5px 5px;
    text-align: left;
    margin: 0;
}

#history_prompt th {
    position: sticky;
    padding: 7px;
    top: 0;
    text-align: left;
    background-color: var(--background);
}

#history_prompt tbody {
    overflow-y: scroll;
}

#saved_prompt {
    /*
    font-family: Verdana;
    font-size: 14px;
    */
    border-collapse: collapse;
    min-width: 300px;
    
}
  
#saved_prompt td {
    padding: 5px 20px 5px 5px;
    text-align: left;
    margin: 0;
}

#saved_prompt th {
    position: sticky;
    padding: 7px;
    top: 0;
    text-align: left;
    background-color: var(--background);
}

#saved_prompt tbody {
    overflow-y: scroll;
}

/*
.vscode-light #history_prompt th {
    background-color: gray;
}
.vscode-light #history_prompt tbody tr:nth-child(2n){
    background-color: lightgray;
}
.vscode-dark #history_prompt th {
    background-color: var(--background);
}
.vscode-dark #history_prompt tbody tr:nth-child(2n) {
    background-color: #5a5858ee;
}
.vscode-high-contrast #history_prompt th {
    background-color: var(--background);
}
/*
.vscode-high-contrast #history_prompt tbody tr:nth-child(2n) {
    background-color: rgb(224, 208, 208);
}
*/

#icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
}

#icons .icon {
	width: 140px;
	padding: 20px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#icons .icon .codicon {
	font-size: 32px;
	padding-bottom: 16px;
}

.hide-progress {
    display: none;
}

.nowrap {
    white-space: nowrap;
}